@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@rendermode InteractiveServer
@inherits LayoutComponentBase

@inject ProtectedLocalStorage ProtectedLocalStorage

<MudThemeProvider Theme="_currentTheme"/>
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall"/>
<MudSnackbarProvider/>

<MudPopoverProvider/>

<MudLayout>
    <MudAppBar Elevation="25">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
                       OnClick="@((e) => DrawerToggle())"/>
        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
            <MudText Typo="Typo.h5" Class="mudblazor-appbar-brand-text">How much left?</MudText>
        </MudHidden>
        <MudAppBarSpacer/>

        <MudAppBarSpacer/>
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudTooltip Text="Toggle light/dark theme">
                <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit"
                               OnClick="@((e) => DarkMode())"/>
            </MudTooltip>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
            <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Dense="true"
                     Direction="Direction.Right" OffsetY="true">
                <div class="px-2">
                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit"
                                   OnClick="@((e) => DarkMode())"/>
                </div>
            </MudMenu>
        </MudHidden>
    </MudAppBar>

    <MudDrawer @bind-Open=_drawerOpen Elevation="25" Class="mudblazor-appbar-band">
        <MudDrawerHeader Class="mudblazor-brand" LinkToIndex="true">

            <MudImage Style="width: 80px; margin-left: auto; margin-right: auto;" Src="favicon.png"></MudImage>

        </MudDrawerHeader>
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="mudblazor-main-content">
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>

        <MudScrollToTop TopOffset="400">
            <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary"/>
        </MudScrollToTop>
    </MudMainContent>
</MudLayout>